<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="app-body">
            <div class="sidebar">
                <nav class="sidebar-nav">
                    {{ knp_menu_render('sidebar', {'currentClass': 'active'}) }}
                </nav>
            </div>
            <main class="main">
                {% block breadcrumbs %}{% endblock %}
                <div class="container-fluid">
                    {% include '_flashes.html.twig' %}
                    {% block body %}{% endblock %}
                </div>
            </main>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
